.dash-board {
    width: 100%;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    overflow: scroll;
}

#card-person {
    background-color: #ffc069;
    margin-top: 1rem;
}

#card-prline {
    background-color: #40a9ff;
    margin-top: 1rem;
}
#card-product {
    background-color: #95de64;
    margin-top: 1rem;
}

